# Question 2 Solution
### Importing Libraries and creating an engine to connect to my SQL server that I created in Docker

Importing the necessary libraries and setting up the SQL connection by creating an sqlalchemy engine that connects to an SQL Server instance running in a Docker container. The engine uses pyodbc to connect to the SQL server.

In [4]:
#import libraries 
from sqlalchemy import create_engine, text, Column, Integer, String, DateTime, Float
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import datetime

#creating a connection engine to SQL server using ODBC and the pyodbc driver
engine = create_engine(
    "mssql+pyodbc://sa:!Hartree123!@localhost:1433/master?"
    "driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes"
)

#this is just a code to verify the connection was successful and prints its version
with engine.connect() as conn:
    result = conn.execute(text("SELECT @@VERSION"))
    for row in result:
        print("SQL Server version:", row[0])

SQL Server version: Microsoft Azure SQL Edge Developer (RTM) - 15.0.2000.1574 (ARM64)
	Jan 25 2023 10:36:08
	Copyright (C) 2019 Microsoft Corporation
	Linux (Ubuntu 18.04.6 LTS aarch64) <ARM64>

## ORM Model
Defining my Table Schema, by defining the ORM table that will store the time-series metal prices. Instead of writing raw SQL queries, i deifned the table as a Python class, making my code cleaner, easier to manage and scalable. The use of nullable=False makes sure that important fields are not left empty, to enforce data integrity.

In [7]:
# Defining the declarative base
Base = declarative_base()

# Defining the MetalPrice table
class MetalPrice(Base):
    __tablename__ = 'metal_prices' #the class MetalPrice maps to the metal_price table in the database
    id = Column(Integer, primary_key=True, autoincrement=True)
    date = Column(DateTime, nullable=False)
    metal = Column(String(50), nullable=False)
    price = Column(Float, nullable=False)

    #method to print records when debugging or inspecting table entries
    def __repr__(self):
        return f"<MetalPrice(id={self.id}, date={self.date}, metal='{self.metal}', price={self.price})>"

# Creating the table in the database
Base.metadata.create_all(engine)

## Creating a session

In [8]:
#creates interface between python code and database
Session = sessionmaker(bind=engine)
session = Session()

## CRUD Operations
### Performing the four basic CRUD operations

### CREATE - Creating a new Record

In [9]:
# Insert a new metal price record
new_record = MetalPrice(date=datetime.datetime(2021, 1, 1), metal='Copper', price=7000.0) #create new instance of MetalPrice
session.add(new_record) #queues the new records to be inserted
session.commit() #writes changes to database

#query to retrieve and print all records to make sure it was correclty added
print("Records after insertion:")
for record in session.query(MetalPrice).all():
    print(record)

Records after insertion:
<MetalPrice(id=1, date=2021-01-01 00:00:00, metal='Copper', price=7000.0)>

### READ - Query all records

In [10]:
#qurey all the records from the database
records = session.query(MetalPrice).all()
for record in records:
    print(record)

<MetalPrice(id=1, date=2021-01-01 00:00:00, metal='Copper', price=7000.0)>

### UPDATE - Updating a record

In [11]:
#Updating the record with the primary key id=1
record_to_update = session.get(MetalPrice, 1)

#checking if the index is found
if record_to_update:
    record_to_update.price = 7500.0 #change price of record at id= 1
    session.commit()
    print("Record updated:", record_to_update)
else:
    # If no record with id=1 was found then print message
    print("Record with id=1 not found")

Record updated: <MetalPrice(id=1, date=2021-01-01 00:00:00, metal='Copper', price=7500.0)>

### DELETE - Deleting a record from the database

In [13]:
#retrive existing record with id=1
record_to_delete = session.get(MetalPrice, 1)

#check if the index is found
if record_to_delete:
    session.delete(record_to_delete)
    session.commit()
    print("Record deleted")
else:
    #as before if record id=1 not found print message
    print("Record with id=1 not found")

Record deleted